@font-face {
  font-family: "Holtwood";
  src: url("./assets/fonts/Holtwood/HoltwoodOneSC-Regular.ttf");
}
@font-face {
  font-family: "Kanit";
  src: url("./assets/fonts/Kanit/Kanit-Regular.ttf");
}

.signup-main-cont {
  max-width: 1440px;
  margin: 0 auto;
  border-radius: 50px;
  text-align: center;

  & svg {
    width: 200px;
    fill: var(--color-text);
  }
}

.signup-form-cont {
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
  background-color: var(--color-text);
  margin-top: 30px;
  border-radius: 15px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
  padding: 50px;
}

.signup-signin {
  font-family: "Kanit";
  font-size: 24px;
  font-weight: 400;
  color: #262626;
  margin-top: 34px;
  opacity: 0.8;
  text-align: center;
}
.signup-signin:hover {
  opacity: 0.8;
}
.p-link-signin {
  color: #914c36;
  cursor: pointer;
  text-decoration: none;
  transition: 0.7s;
}
.p-link-signin:hover {
  opacity: 0.7;
  transition: 0.7s;
}

/*----------------------------LOG IN------------------------------*/

.form {
  margin: 0px;
  padding: 0px;
}
.form-control {
  margin-bottom: 8px;
  padding-bottom: 20px;
  position: relative;
}

.form-control label {
  font-family: "Kanit";
  font-size: 32px;
  font-weight: 400;
  color: #262626;
  display: block;
  margin-bottom: 5px;
}

.form-control input:focus {
  outline: 0;
  border-color: #777;
}

.form-control.success input {
  border-color: #2ecc71;
}
.form-control.error input {
  border-color: #e74c3c;
}
.form-control small {
  color: #e74c3c;
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.form-control.error small {
  visibility: visible;
}
small {
  padding-top: 0px;
  font-size: 25px;
  margin-left: 20px;
  line-height: 5px;
}

@media (max-width: 1599px) {
  .signup-form-cont {
    margin-top: 1.875vw;
    padding: 3.125vw;
  }

  .signup-main-cont {
    & svg {
      width: 12.5vw;
      height: 15.625vw;
    }
  }
  .signup-signin {
    margin-top: 2.125vw;
  }
}

@media (max-width: 750px) {
  .signup-signin {
    font-size: 16px;
  }
}
