@font-face {
  font-family: "Holtwood";
  src: url("./assets/fonts/Holtwood/HoltwoodOneSC-Regular.ttf");
}
@font-face {
  font-family: "Kanit";
  src: url("./assets/fonts/Kanit/Kanit-Regular.ttf");
}

.signin-main-cont {
  max-width: 1440px;
  margin: 0 auto;
  border-radius: 50px;
  text-align: center;
  & svg {
    width: 211px;
    fill: var(--color-text);
  }

  & h3 {
    text-align: center;
  }
}
.signin-img {
  width: 210px;
  height: 240px;
  background-image: url("./assets/img/Sign/SignIn.png");
  background-repeat: no-repeat;
  background-size: 150px;
  margin: 63px 0 63px 0;
}

.signin-form-cont {
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
  justify-content: center;
  background-color: var(--color-text);
  border-radius: 15px;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
  padding: 50px;
}

.signin-signup {
  font-family: "Kanit";
  font-size: 24px;
  font-weight: 400;
  color: #262626;
  margin-top: 34px;
  opacity: 0.8;
}
.signin-signup:hover {
  opacity: 0.8;
}
.p-link-signin {
  color: #914c36;
  cursor: pointer;
  text-decoration: none;
  transition: 0.7s;
}
.p-link-signin:hover {
  opacity: 0.7;
  transition: 0.7s;
}

/*----------------------------LOG IN------------------------------*/

.form {
  margin: 0px;
  padding: 0px;
}
.form-control {
  margin-bottom: 8px;
  padding-bottom: 20px;
  position: relative;

  & > input::placeholder {
    font-family: "Kanit";
  }
}

.form-control label {
  font-family: "Kanit";
  font-size: 32px;
  font-weight: 400;
  color: var(--color-bg);
  display: block;
  margin-bottom: 5px;
}

.form-control input {
  width: 100%;
  box-sizing: border-box;
  border-radius: 15px;
  background-color: var(--color-bg);
  display: block;
  padding: 30px;
  font-size: 32px;
  color: var(--color-text);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}

.form-control input:focus::placeholder {
  visibility: hidden;
}

.form-control input:focus {
  outline: 0;
  border-color: #777;
}

.form-control.success input {
  border-color: #2ecc71;
}
.form-control.error input {
  border-color: #e74c3c;
}
.form-control small {
  color: #e74c3c;
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.form-control.error small {
  visibility: visible;
}
small {
  padding-top: 0px;
  font-size: 25px;
  margin-left: 20px;
  line-height: 5px;
}

.form-button {
  font-family: "Kanit";
  font-size: 24px;
  font-weight: 400;
  border: none;
  color: var(--color-text);
  background-color: #914c36;
  border-radius: 15px;
  padding: 20px 190px;
  cursor: pointer;
  transition: 0.7s;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
  display: block;
  margin: 0 auto;
}
.form-button:hover {
  opacity: 0.8;
  transition: 0.7s;
}

@media (max-width: 1599px) {
  .signin-main-cont {
    & svg {
      width: 13.1875vw;
      height: 19.125vw;
      fill: var(--color-text);
    }
  }

  .form-button {
    border-radius: 15px;
    padding: 1.25vw 11.875vw;
  }
  .signin-form-cont {
    padding: 3.125vw;
  }

  .form-control input {
    padding: 1.875vw;
  }

  .form-control {
    margin-bottom: 0.5vw;
    padding-bottom: 1.25vw;
  }
}

@media (max-width: 750px) {
  .form-button {
    font-size: 16px;
  }

  .form-control label {
    font-size: 16px;
  }

  .form-control input {
    padding: 1.875vw;
    font-size: 16px;
  }
}
