</li></ol></nav><div><h1>HTML: The basics of HTML</h1><p>Every day we look at dozens of web pages and read texts on them that are rendered as though they were in a magazine. These pages are hypertext - a system of web pages that can be navigated using links. A language, HTML, exists to implement this system.</p>

    <p>HTML stands for HyperText Markup Language. By its function, HTML is a set of rules by which the browser distinguishes headings from lists, tables from pictures, and so on. HTML appeared in 1993 and was intended to standardize the rules for displaying text within web pages.</p>
    
    <p>Even this page is text marked up using HTML and processed by the browser. Technology has come a long way, but the concept of using HTML to mark up text has remained unchanged for many years.</p>
    
    <p>Here is an example of HTML markup:</p>
    
    <pre><code>&lt;section&gt;
      &lt;h2&gt;Code Basics&lt;/h2&gt;
      &lt;p&gt;
        Code Basics - free hands-on programming lessons for people
        starting from scratch.
      &lt;/p&gt;
      &lt;p&gt;
        If you are a complete beginner and want to learn the basics - variables,
        strings, loops, functions, etc., then Code Basics is for you.
      &lt;/p&gt;
    &lt;/section&gt;
    </code></pre>
    
    <p>Don&#39;t be intimidated by all the confusing words and symbols - by the end of the course, you&#39;ll understand how the markup above works, and you&#39;ll learn how to use this markup on your own pages. Note that the whole essence of the markup above is text. The rest are auxiliary elements to display the text where it was conceived to be by the designers and/or developers.</p>
    <h2>Instructions</h2><p>Copy the HTML and paste it into the editor on this page</p>
    
    <pre><code>&lt;h1&gt;Hello, World!&lt;/h1&gt;
    </code></pre>