</li></ol></nav><div><h1>HTML: Paragraphs</h1><p>Paragraphs are the main way to divide a large text into small logical blocks. These blocks are automatically &quot;indented&quot; from each other. Such text is much easier to read and does not scare users.</p>

  <p>Paragraphs are mostly found within large text. For example, any lesson on Hexlet or Code Basics is broken up into paragraphs for easy reading, just like this one.</p>
  
  <p>t is broken down into small blocks of meaning. Not only is it more comfortable to read, but you can quickly find the information you need in a large text.</p>
  
  <p>Paragraphs are created using the paired <code>&lt;p&gt;</code> tag with a small amount of text in the body. For example:</p>
  
  <pre><code>&lt;p&gt;First paragraph&lt;/p&gt;
  &lt;p&gt;Second paragraph&lt;/p&gt;
  </code></pre>
  
  <p>This is what they look like in the browser:</p>
  
  <div>
    <p>First paragraph</p>
    <p>Second paragraph</p>
  </div>
  <h2 >Instructions</h2><p>Wrap the phrase <em>Hello, World</em> in a paragraph tag</p>