@font-face {
    font-family: 'Holtwood';
     src: url("./assets/fonts/Holtwood/HoltwoodOneSC-Regular.ttf");
   }
   @font-face {
    font-family: 'Kanit';
    src: url("./assets/fonts/Kanit/Kanit-Regular.ttf");
   }
.about-main-wrap{
    position: relative;
    display: flex;
    justify-content: center;
    background-color: #262626;
}
.about-main-cont{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #262626;
    max-width: 1440px;
  }

  .about-us-cont{
      font-family: 'Holtwood';
      font-weight: 400;
      color: #FFFBD3;
      display: flex;
      flex-direction: column;
      width: 100%;
}
.p-about-us{
    font-size: 48px;
}
.about-us-text{
    font-family: 'Kanit';
    font-size: 48px;
    font-weight: 400;
    text-align: center;
    line-height: 57px;
}
.about-why-cont{
    font-family: 'Holtwood';
    font-weight: 400;
    color: #FFFBD3;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.p-about-why{
  font-size: 48px;
  margin: 0;
}
.about-why-text{
  font-family: 'Kanit';
  font-size: 48px;
  font-weight: 400;
  text-align: center;
}
.about-mission{
    font-family: 'Kanit';
    font-size: 48px;
    font-weight: 400;
    text-align: center;
    line-height: 58px;
}
.about-free-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-free{
    font-family: 'Holtwood';
    font-size: 48px;
    font-weight: 400;
    color: #FFFBD3;
}
.about-bottom{
    font-family: 'Kanit';
    font-weight: 400;
    font-size: 48px;
    color: #FFFBD3;
}

.team-container {
    display: flex;
    justify-content: space-around;
}

.member-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: 'Kanit';
}

.member-img {
    width: 350px;
    height: 350px;

    border-radius: 5px;
}

.member-name {
    font-size: 32px;
}

.member-sub {
    font-size: 24px;
}

.member_01 {
    background: url("./assets/img/about/member_01.jpg");
    background-size: contain;
}

.member_02 {
    background: url("./assets/img/about/member_02.jpg");
    background-size: contain;
}

.member_03 {
    background: url("./assets/img/about/member_03.jpg");
    background-size: contain;
}


@media (max-width: 1599px) {
    .p-about-us{
        font-size: 3vw;
    }
    .about-us-text{
        font-size: 3vw;
    }
    .p-about-why{
      font-size: 3vw;
    }
    .about-why-text{
      font-size: 3vw;
    }
    .about-mission{
        font-size: 3vw;
    }


    .about-free{
        font-size: 3vw;
    }
    .about-bottom{
        font-size: 3vw;
    }

    .member {
        width: 21.875vw;
        height: 21.875vw;
    }
}