@font-face {
  font-family: "Holtwood";
  src: url("./assets/fonts/Holtwood/HoltwoodOneSC-Regular.ttf");
}
@font-face {
  font-family: "Kanit";
  src: url("./assets/fonts/Kanit/Kanit-Regular.ttf");
}
.about-main-wrap {
  position: relative;
  display: flex;
  justify-content: center;
}
.about-main-cont {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 1440px;
  color: var(--color-text);
  padding: 0 15px;
}

.team-stick {
  position: absolute;
  right: -15%;
  top: -15%;
  max-width: 150px;
  transform: rotate(15deg);
  margin: 0 auto;
}

.about-title {
  font-family: "Holtwood";
  font-size: 48px;
  margin: 30px 0;
  color: var(--color-text);
}
.about-us-text {
  font-family: "Kanit";
  font-size: 48px;
  font-weight: 400;
}
.about-why-cont {
  font-family: "Holtwood";
  font-weight: 400;
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.p-about-why {
  font-size: 48px;
}
.about-why-text {
  font-family: "Kanit";
  font-size: 48px;
  font-weight: 400;
  text-align: center;
}
.about-mission {
  font-family: "Kanit";
  font-size: 48px;
  font-weight: 400;
  text-align: center;
}
.about-free-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-free {
  font-family: "Holtwood";
  font-size: 48px;
  font-weight: 400;
}
.about-bottom {
  font-family: "Kanit";
  font-weight: 400;
  font-size: 48px;
}

.team-container {
  display: flex;
  justify-content: space-around;
}

.member-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Kanit";
  margin-bottom: 15px;
}

.member-img {
  width: 350px;
  height: 350px;

  border-radius: 5px;
}

.member-name {
  font-size: 32px;
}

.member-sub {
  font-size: 24px;
}

.member_01 {
  background: url("./assets/img/about/member_01.jpg");
  background-size: contain;
}

.member_02 {
  background: url("./assets/img/about/member_02.jpg");
  background-size: contain;
}

.member_03 {
  background: url("./assets/img/about/member_03.jpg");
  background-size: contain;
}

@media (max-width: 1599px) {
  .p-about-us {
    font-size: 3vw;
  }
  .about-us-text {
    font-size: 3vw;
  }

  .team-stick {
    right: 0;
    top: 0;
    max-width: 9.375vw;
  }

  .p-about-why {
    font-size: 3vw;
  }
  .about-why-text {
    font-size: 3vw;
  }
  .about-mission {
    font-size: 3vw;
  }

  .about-title {
    font-size: 3vw;
    margin: 1.875vw 0;
  }

  .about-free {
    font-size: 3vw;
  }
  .about-bottom {
    font-size: 3vw;
  }

  .team-container {
    flex-wrap: wrap;
  }

  .member {
    width: 21.875vw;
    height: 21.875vw;
  }
}
