@font-face {
    font-family: 'Holtwood';
    src: url("./assets/fonts/Holtwood/HoltwoodOneSC-Regular.ttf");
}
@font-face {
    font-family: 'Kanit';
     src: url("./assets/fonts/Kanit/Kanit-Regular.ttf");
}
.courses-main-wrap{
    position: relative;
    display: flex;
    justify-content: center;
    background-color: #262626;
    width: 1600px;
    max-width: 100%;
    height: 1300px;
    margin: 0 auto;
    margin-top: -2px;
}
.courses-main-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1440px;
    max-width: 100%;
    height: 1290px;
    background-color: #262626;
    font-family: "Kanit";
    
  }
  .courses-home{
    width: 98%;
    max-width: 1440px;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Kanit';
    font-weight: 400;
    font-size: 32px;
    color: #FFFBD3;
    margin-top: 68px;
  }
  .courses-work-container{
      width: 99%;
      max-width: 1440px;
      height: 872px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 5px;
      margin-top: 30px;
}
  .courses-lesson-cont{
      max-width: 100%;
      width:623px;
      height: 872px;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 15px;
      background-color: #FFFBD3;

  }
  .courses-btn-lesson-up{
    width: 152px;
    height: 46px;
    background-color: #262626;
    border-radius: 15px;
    color:#FFFBD3;
    font-family: 'Kanit';
    font-size: 32px;
    text-align: center;
    line-height: 40px;
    margin-top: 20px;
  }
  .courses-btn-lesson-up:hover{
      opacity: .8;
      cursor: pointer;
  }
  .courses-lesson-text-box{
      width: 92%;
      max-width: 100%;
      height: 768px;
      background-color: #262626;
      border-radius: 5px;
      overflow-y: auto;
      margin-top: 20px;
      font-family: 'Kanit';
      font-size: calc(14px + .8vw);
      color: #FFFBD3;
      box-sizing: border-box;
      text-align: justify;
      padding: 4%;
  }
   
  /*    LEFT----------RIGHT**********/
  
  .courses-editor-cont{
    max-width: 100%;
    width:777px;
    height: 872px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    background-color: #FFFBD3
}
.courses-editor-button-box{
    width: 320px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.courses-btn-editor-up{
    width: 152px;
    height: 46px;
    background-color: #262626;
    border-radius: 15px;
    color:#FFFBD3;
    font-family: 'Kanit';
    font-size: 32px;
    text-align: center;
    line-height: 40px;
    margin-top: 20px;
  }
  .courses-btn-editor-up:hover{
      cursor: pointer;
      opacity: .8;
  }
  .courses-editor-code-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 92%;
    max-width: 100%;
    height: 768px;
    font-family: 'Kanit';
    font-size: 30px;
    color: #FFFBD3;
    background-color: #262626;
    border-radius: 5px;
    overflow-y: auto;
    margin-top: 36px;
    box-sizing: border-box;
    padding: 1%;
    box-sizing: border-box;
    overflow: hidden;
}
.courses-editor-code-cont{
    border:solid 1px #f3faf7;
    width: 100%;
    height: 304px;
}
.courses-editor-code-result{
    border:solid 1px #f3faf7;
    width: 100%;
    height: 265px;
    padding: 15px;
}
.courses-editor-message{
    border:solid 1px #f3faf7;
    width: 100%;
    height: 90px;
    padding: 8px;
}
.courses-editor-btn-box-bottom{
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Kanit';
    font-size: 24px;
    gap: 3px;
}
.editor-btn-bottom{
    width: 215px;
    height: 52px;
    background-color:#914c36;
    color: #FFFBD3;
    text-align: center;
    line-height: 49px;
    border-radius: 15px;
}
.editor-btn-bottom:hover{
    cursor: pointer;
    opacity: .8;
}

.courses-lesson-text-box::-webkit-scrollbar {
    width: 18px; /* ширина для вертикального скролла */
    height: 0px; /* высота для горизонтального скролла */
    background-color: #FFFBD3;
    
}
/* ползунок скроллбара */
.courses-lesson-text-box::-webkit-scrollbar-thumb {
    background-color: #262626;
    border-radius: 5em;
    box-shadow: inset 1px 1px 5px #f3faf7;
}

.courses-lesson-text-box::-webkit-scrollbar-thumb:hover {
    background-color: rgba(2, 2, 2, 0.6);
}
/*************************IDE*********************************/
.editor{
    width: 100%;
    height: 40%;
    display: flex;
}
.editor .code{
    width: 100%;
    border-right: 1px solid #888;
}
.editor .code > div{
    width: 100%;
    height: 33.33%;
    border-bottom: 1px solid #888;
}
.preview{
    width: 500px;
    height: 100%;
}
.preview {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
}
.codeMirror{
    height: auto;
}
#preview-window{
    color: #FFFBD3;
}
.CodeMirror{
    height: 390px;
}

@media screen and (max-width:1000px){
.courses-main-wrap{
    height: 2050px;
}
.courses-main-cont{
    height: 2030px;
}
.courses-work-container{
    height: 2000px;
    flex-direction: column;
    column-gap: 20px;
    justify-content: flex-start;
}
.courses-lesson-cont{
    max-width: 100%;
    width: 800px;
}
.courses-lesson-text-box{
    font-size: calc(16px + 1vw);
}
.courses-editor-cont{
    max-width: 100%;
    width: 800px;
}


}