@font-face {
  font-family: "Holtwood";
  src: url("./assets/fonts/Holtwood/HoltwoodOneSC-Regular.ttf");
}

body {
  margin: 0;
  background-color: var(--color-bg);

  scroll-behavior: smooth;
}

.header-wrap {
  display: flex;
  justify-content: center;
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  width: 100%;
  margin: 20px 0;
}

.header-cont {
  display: flex;
  justify-content: space-between;
}

.logo-box {
  max-width: 166px;
  max-height: 166px;
  margin: 20px 0;
}

.logo {
  width: 100%;
  cursor: pointer;
}

.header-btn-cont-left {
  max-width: 470px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-btn-cont-right {
  max-width: 400px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.header-btn {
  font-size: 24px;
  color: var(--color-text);
  cursor: pointer;
  font-family: "Holtwood";
  transition: ease-in-out 0.2s;
  margin-left: 20px;
  white-space: nowrap;
}

.header-btn:hover {
  opacity: 0.7;
}

.theme {
  width: 50px;
  height: 50px;
  background-image: url("./assets/icons/dark.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  background-position: center;
  z-index: 100;
  margin: 0 0 0 30px;

  &.light {
    background-image: url("./assets/icons/light.png");
  }
}

.header-about {
  position: absolute;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  line-height: 3px;
  width: 300px;
  height: 300px;
  background-color: #9ca5ae;
  opacity: 0.99;
  border-radius: 20px;
}

.p-about {
  font-size: 20px;
  color: #3e57ac;
}

.present-up-p {
  color: var(--color-bg);
}

.present-up-p2 {
  color: var(--color-bg);
}

.line-header {
  height: 0px;
  min-width: 306px;
  width: 92%;
  border-bottom: solid 2px light;
  margin-left: 24px;
  margin-top: 0px;
}

hr {
  border: none;
  color: var(--color-text);
  background-color: var(--color-text);
  height: 2px;
}

@media (max-width: 1599px) {
  .theme {
    width: 3.125vw;
    height: 3.125vw;
    margin: 0 0 0 1.875vw;
  }

  .logo-box {
    width: 10.375vw;
    margin: 1.25vw 0;
  }

  .header-btn {
    font-size: 1.5vw;
  }

  .header-wrap {
    padding: 0 15px;
  }
}
