@font-face {
  font-family: 'Holtwood';
   src: url("./assets/fonts/Holtwood/HoltwoodOneSC-Regular.ttf");
 }
body{
  margin: 0;
  background-color: #262626;
}
.black-header-wrap{
    display: flex;
    justify-content: center;
    background-color: #262626;
    max-width: 1440px;
    margin: 0 auto;
}
.black-header{
  width: 100%;
  background-color: #262626;
  margin: 20px 0;
}
.black-header-cont{
  display: flex;
  justify-content: space-between;
}

.black-logo-box{
  max-width: 166px;
}
.black-logo{
  width: 100%;
  cursor: pointer;
}
.black-header-btn-cont-left{
    max-width: 470px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.black-header-btn-cont-right{
    max-width: 360px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.black-header-btn{
  font-size: 24px;
  color: #FFFBD3;
  cursor: pointer;
  font-family: 'Holtwood';
  transition: 0.7s;
  margin-left: 20px;
}
.black-header-btn:hover{
  transition: 0.7s;
  color: #9ca5ae;
}
.black-header-about{
  position: absolute;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  line-height: 3px;
  width: 300px;
  height: 300px;
  background-color: #9ca5ae;
  opacity: .99;
  border-radius: 20px;
}
.black-p-about{
font-size: 20px;
color: #3e57ac;
}
.line-header{
  height: 0px;
  min-width: 306px;
  width: 92%;
  border-bottom: solid 2px #FFFBD3;
  margin-left: 24px;
  margin-top: 0px;
}

hr {
  border: none;
  color: #FFFBD3;
  background-color: #FFFBD3;
  height: 2px;
}


@media (max-width: 1599px) {
  .black-logo-box{
    width: 10.375vw;
  }

  .black-header-btn {
    font-size: 1.5vw;
  }

  .black-header-wrap{
    padding: 0 15px;
}
}