@import "normalize.css";
@import "./components/Header/header.scss";
@import "./components/Main/main.scss";
@import "./components/Footer/footer.scss";
@import "./components/About/about.scss";
@import "./components/Signup/signup.scss";
@import "./components/Signin/signin.scss";
@import "./components/Lessons/lessons.scss";
@import "./components/pages/CourseTemplate.scss";

body.dark {
  --color-bg: #262626;
  --color-text: #fffbd3;
}

body.light {
  --color-bg: #fffbd3;
  --color-text: #262626;
}
